@import "@ractf/ui-kit/Utils.scss";

$fontStack: "Lato", sans-serif;

$titleStack: "Gilroy", sans-serif;
$monoStack: "Roboto Mono", monospace;

/* #region Colour definitions */
// Background shades
$back_100: #9490a8;
$back_200: #7f7b99;
$back_300: #6c6888;
$back_600: #37344c;
$back_700: #272538;
$back_750: #201f31;

// Light shades
$white_100: #dfddeb;
/* #endregion */

$colours: (
    "white": #fff,
    "grey": #e0e1e2,
    "darkGrey": #5b5b5b,
    "black": #363636,
    
    "blue": #4582ec,
    "indigo": #6610f2,
    "purple": #6f42c1,
    "pink": #e83e8c,
    "red": #d9534f,
    "orange": #fd7e14,
    "yellow": #f0ad4e,
    "green": #02b875,
    "teal": #20c997,
    "cyan": #17a2b8,

    "accent": #4582ec,
);
$background: map-get($colours, "white");
$color: map-get($colours, "black");

@import "@ractf/ui-kit/Theme.scss";

$input: (
    border: 1px solid rgba($color, .2),
    border_focus: 1px solid rgba($color, .4),
    border_error: 1px solid map-get($colours, "red"),
    border_error_focus: 1px solid focus(map-get($colours, "red")),
    
    
    //background: rgba(map-get($colours, "black"), .2),
    background: transparent,
    background_disabled: transparent,
    
    color: $color,
    color_error: map-get($colours, "red"),
    color_disabled: rgba($color, .6),

    padding: px(9.5) px(14),
    font_size: px(14),
    line_height: px(16),
    radius: px(4),
    min_height: px(36),
);

$types: (
    primary: (
        bg: map-get($colours, "accent"),
        fg: map-get($colours, "white"),
    ),
    secondary: (
        bg: map-get($colours, "grey"),
        fg: map-get($colours, "darkGrey"),
        fg2: map-get($colours, "darkGrey"),
    ),
    success: (
        bg: map-get($colours, "green"),
        fg: map-get($colours, "white"),
    ),
    info: (
        bg: map-get($colours, "cyan"),
        fg: map-get($colours, "white"),
    ),
    warning: (
        bg: map-get($colours, "yellow"),
        fg: map-get($colours, "black"),
    ),
    danger: (
        bg: map-get($colours, "red"),
        fg: map-get($colours, "white"),
    ),
    dark: (
        bg: map-get($colours, "black"),
        fg: map-get($colours, "white"),
    ),
    light: (
        bg: map-get($colours, "white"),
        fg: map-get($colours, "black"),
        fg2: map-get($colours, "black"),
    ),
);

$back_lift: rgba(map-get($colours, "black"), 0.125);
$back_lift_x2: rgba(map-get($colours, "black"), 0.25);

$color: map-get($colours, "black");

$bg: #000;
$bg_l2: desaturate(lighten($bg, 14%), 9%);
$bg_l3: desaturate(lighten($bg, 28%), 11%);
$bg_l4: desaturate(lighten($bg, 42%), 11%);
$bg_l5: desaturate(lighten($bg, 56%), 12%);

$bg_d0: saturate(darken($bg, 4%), 4%);

@import "@ractf/ui-kit/Theme.scss";

:export {
    green: map-get($colours, "green");
    red: map-get($colours, "red");

    bg_l2: $bg_l2;
    bg_l3: $bg_l3;
    bg_l4: $bg_l4;
    bg_l5: $bg_l5;
    bg_d0: $bg_d0;

    fontStack: $fontStack;
    monoStack: $monoStack;

    color: $color;
    background: $background;
    backLift: $back_lift;
    @each $name, $colour in $colours {
        #{$name}: $colour;
    }
}

@import "@ractf/ui-kit/Theme.scss";
