$colours: map-merge($colours, ("accent": #e53935));

$background: #181626;
$color: #eee;
$back_lift: rgba(map-get($colours, "white"), 0.125);
$back_lift_x2: rgba(map-get($colours, "white"), 0.25);

@if variable-exists(types) {
    $types: map-merge(
        $types,
        (
            primary: (
                bg: #37344C,
                fg: #fff,
                fg2: lighten(#37344C, 20%),
            ),
            dark: (
                bg: map-get($colours, "black"),
                fg: map-get($colours, "white"),
                fg2: map-get($colours, "darkGrey"),
            ),
            light: (
                bg: $background,
                fg: map-get($colours, "white"),
                fg2: map-get($colours, "grey"),
            ),
            ractfSidebar: (
                bg: #1E1C34,
                fg: #fff,
            ),
        )
    );
}
