@import "@ractf/ui-kit/Colours.scss";

.breadcrumbs {
    display: flex;

    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    width: 100%;
    border: 1px solid $back_lift;
    border-radius: .25rem;
    font-size: 0.93rem;

    .crumb {
        &.active {
            color: map-get($colours, "darkGrey");
        }

        &:not(:first-child) {
            padding-left: 0.5rem;
            &::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: map-get($colours, "grey");
                content: "/";
            }
        }
    }
}
