@import "../../Colours.scss";

.card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid $back_lift !important;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: px(24);

    @include mapTypes();

    .cardHeader {
        padding: px(10) px(16);
        margin-bottom: 0;
        background-color: rgba($back_lift, 0.03);
        border-bottom: 1px solid $back_lift;
    }
    .cardBody {
        flex: 1 1 auto;
        min-height: 1px;
        padding: px(16);
    }

    &.framed {
        background-color: transparent;
        color: inherit;

        @include mapTypes(false, ".cardHeader", true);

        @each $type, $color in $types {
            &.#{$type} {
                border-color: rgba(map-get($color, "bg"), 0.3) !important;
            }
        }
    }
}
