@import "@ractf/ui-kit/Colours.scss";

.flexRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: 100%;
    flex-grow: 1;

    &.frRight {
        justify-content: flex-end;
    }
    &.frLeft {
        justify-content: flex-start;
    }
    &.centre {
        justify-content: center;
    }
    &.vCentre {
        align-items: center;
    }

    & > * {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }
    &.frTight {
        margin-right: -0.25rem;
        margin-bottom: -0.25rem;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        > * {
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    > .flexRow {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@mixin colBlock($name, $size) {
    @for $i from 1 through 12 {
        @if $size {
            @media (min-width: #{$size}) {
                &.#{$name}#{$i} {
                    max-width: (100% / 12) * $i;
                }
            }
        } @else {
            &.#{$name}#{$i} {
                max-width: (100% / 12) * $i;
            }
        }
    }
}

.flexColumn {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    &.centre {
        justify-content: center;
        align-self: stretch;
    }

    &.noGutter {
        padding: 0;
    }

    > .flexRow {
        flex-grow: 0;
    }

    > *:not(.flexRow) {
        margin-top: px(4);
        margin-bottom: px(4);

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include colBlock("col", 0);
    @include colBlock("col-sm", 576px);
    @include colBlock("col-md", 768px);
    @include colBlock("col-lg", 992px);
    @include colBlock("col-xl", 1200px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    width: 100%;

    > * {
        height: 100%;
    }
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    margin-right: px(-16);
    > * {
        flex-grow: 1;
        flex-shrink: 1;
        width: calc(100% - #{px(16)});
        flex-basis: 30%;
        margin-bottom: px(16);
        margin-right: px(16);
    }
}
