@import "@ractf/ui-kit/Colours.scss";

.pageContent {
    position: relative;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    min-height: 100%;

    &.centre {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        & > * {
            flex-basis: 0;
            flex-grow: 0;
        }
    }
}

.backToChals {
    &::before {
        content: "< ";
    }
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    display: block;
}

@media (max-width: 1200px) {
    .pageContent {
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 800px) {
    .pageContent {
        padding: 0.5rem;
    }
}
