.inlineButton {
    display: flex;

    .btn {
        margin: 0;
    }
    .input {
        flex-grow: 1;
        margin-right: .5em;
    }

    @media (max-width: 500px) {
        flex-direction: column;

        .btn {
            width: 100%;
        }
        .input {
            width: 100%;
            margin-right: 0;
            margin-bottom: .25em;
        }
    }
}
