@import "../Colours.scss";
@import "./Input.vars.scss";

.inlineButton {
    display: flex;

    .btn {
        margin: 0;
    }
    .input {
        flex-grow: 1;
        margin-right: .5em;
    }

    .btn, .input {
        border-radius: 0;
        &:first-child {
            border-radius: $radius 0 0 $radius;
        }
        &:last-child {
            border-radius: 0 $radius $radius 0;
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;

        .btn {
            width: 100%;
        }
        .input {
            width: 100%;
            margin-right: 0;
            margin-bottom: .25em;
        }
    }
}
