@import "../Colours.scss";

$spinner_color: map-get($colours, "accent");


.hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    flex-basis: 100%;
    
    &::after {
        display: block;
        content: "";
        margin-left: 10%;
        background-color: $back_lift;
        width: 80%;
        height: 1px;
    }
}

.textBlock {
    font-size: 1rem;
    background-color: $back_lift;
    padding: 1rem 2rem;
    border-radius: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    flex-grow: 1;
    width: 100%;

    & img {
        max-width: 100%;
        padding: 1em;
        display: block;
    }

    @media only screen and (max-width: 600px) {
        & {
            margin: 1.5em 8px;
        }
    }
}

.flashText {
    background-color: $back_lift;
    padding: 16px 24px;
    border-radius: .25rem;
    width: 100%;
    transition: 150ms background-color ease;
    flex: 1;
    position: relative;

    > .loadingSpinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.5em;
        margin-top: -2.5em !important;
    }

    @include mapTypes();
}

.pageHead {
    padding: 0 16px;
    border-bottom: 2px solid $back_lift;
    margin-bottom: 1rem;

    p, a {
        margin: 0 0 .5rem;
        font-size: .95rem;
    }

    .pageTitle {
        margin-right: 16px;
        font-family: $titleStack;
        font-weight: 600;
        font-size: 1.5945rem;
    }
}

.subtleText {
    opacity: 0.8;
    font-size: 0.9em;
}

.formGroup {
    flex-grow: 1;
    margin-top: .5rem;
    margin-bottom: 1rem;

    > label {
        display: block;
        opacity: .9;
        position: relative;
    }

    > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $titleStack;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    flex-basis: 100%;
}
.h1 {
    font-size: 2.6575rem;
}
.h2 {
    font-size: 2.126rem;
}
.h3 {
    font-size: 1.86025rem;
}
.h4 {
    font-size: 1.5945rem;
}
.h5 {
    font-size: 1.32875rem;
}
.h6 {
    font-size: 1.063rem;
    margin-bottom: 0.25rem;
}
.large {
    font-size: 1.15em;
    line-height: 1.2;
    
    b {
        font-weight: 800;
    }
}

.container {
    flex-grow: 1;
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.siteWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.loadingSpinner {
    border: .25rem solid map-get($colours, "accent");
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: text-bottom;
    border-radius: 50%;
    border-bottom-color: transparent;

    animation: spin .75s linear infinite;

    @each $type, $color in $types {
        &.#{$type} {
            border-color: map-get($color, "bg");
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
