@import "@ractf/ui-kit/Colours.scss";


.hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    flex-basis: 100%;

    &::after {
        display: block;
        content: "";
        margin-left: 10%;
        background-color: var(--col-back-lift);
        width: 80%;
        height: 1px;
    }
}

.textBlock {
    font-size: 1rem;
    background-color: var(--col-back-lift);
    padding: 1rem 2rem;
    border-radius: px(8);
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    flex-grow: 1;
    width: 100%;

    & img {
        max-width: 100%;
        padding: 1em;
        display: block;
    }

    @media only screen and (max-width: 600px) {
        & {
            margin: 1.5em 8px;
        }
    }
}

.pageHead {
    padding: 0 16px;
    border-bottom: 2px solid var(--col-back-lift);
    margin-bottom: 1rem !important;

    p, a {
        font-size: .95rem;
        margin: 0 !important;
    }
    > :last-child {
        margin-bottom: px(8) !important;
    }

    .pageTitle {
        margin-right: 16px;
        font-family: $titleStack;
        font-weight: 600;
        font-size: 1.5945rem;
    }
}

.subtleText {
    opacity: 0.8;
    font-size: 0.9em;
}

.formGroup {
    flex-grow: 1;
    margin-top: .5rem;
    margin-bottom: 1rem;

    > label {
        display: block;
        opacity: .9;
        position: relative;
    }

    > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    > *:not(:first-child) {
        margin-top: 0.5rem;
    }

    &:last-child {
        margin-bottom: .5rem;
    }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $titleStack;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    flex-basis: 100%;
}
.h1 {
    font-size: 2.6575rem;
}
.h2 {
    font-size: 2.126rem;
}
.h3 {
    font-size: 1.86025rem;
}
.h4 {
    font-size: 1.5945rem;
}
.h5 {
    font-size: 1.32875rem;
}
.h6 {
    font-size: 1.063rem;
    margin-bottom: 0.25rem;
}
.large {
    font-size: 1.15em;
    line-height: 1.2;

    b {
        font-weight: 800;
    }
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.siteWrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.loadingSpinner {
    border: .25rem solid var(--col-accent);
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: text-bottom;
    border-radius: 50%;
    border-bottom-color: transparent;

    animation: spin .75s linear infinite;

    @each $type in $type-names {
        &.#{$type} {
            border-color: var(--type-#{$type}-bg);
        }
    }
}

.wordmark {
    background: url("~../../../static/wordmark.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 33px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
