@import "../Colours.scss";


$body_background: $back_lift;
$tab_background: transparent;
$tab_selected: rgba(map-get($colours, "black"), 0.03);
$tab_hover: rgba(map-get($colours, "black"), 0.03);

$tab_text: map-get($colours, "black");
$tab_active_text: map-get($colours, "black");
$tab_hover_text: map-get($colours, "black");


.tabButtonRow {
    justify-content: flex-start;

    &.centre {
        justify-content: center;
    }
    & > button {
        flex-grow: 1;
        max-width: none;

        border-radius: 0;
        margin: 0;
        min-width: 100px;
        transition: none;

        font-size: 1.1em;
        background-color: $tab_background !important;
        color: $tab_text !important;
        min-height: 42px;

        border: 1px solid transparent !important;
        border-bottom: none !important;
    
        &:hover, &:focus {
            background-color: $tab_hover !important;
            color: $tab_hover_text !important;
            outline: none;
        }
        &:active {
            outline: none;
        }

        &.active {
            background-color: $tab_selected !important;
            border: 1px solid $back_lift !important;
            border-bottom: none !important;
            color: $tab_active_text !important;
        }
    }
}

.tabWrap {
    padding: 32px;
    width: 100%;

    border: 1px solid $back_lift;
    padding: 1em 2em;
    border-radius: 1px;
}

@media (max-width: 800px) {
    .tabWrap {
        padding: 16px 8px;
    }
}
