:root {
    --col-accent: #e53935;
    --col-background: #181626;
    --col-color: #eee;
    --col-back-lift: rgba(255, 255, 255, 0.125);
    --col-back-lift-2x: rgba(255, 255, 255, 0.25);
}

#root {
    --type-primary-bg: #37344C;
    --type-primary-fg: #fff;
    --type-primary-fg-lesser: lighten(#37344C, 20%);

    --type-dark-bg: var(--col-black);
    --type-dark-fg: var(--col-white);
    --type-dark-fg-lesser: var(--col-darkGrey);

    --type-light-bg: var(--col-background);
    --type-light-fg: var(--col-white);
    --type-light-fg-lesser: var(--col-grey);

    --type-ractfSidebar-bg: #1E1C34;
    --type-ractfSidebar-fg: #fff;
}
@if variable-exists(type-names) {
    $type-names: append($type-names, "ractfSidebar");
}
