$fontStack: "Dosis", helvetica, arial, sans-serif;
$titleStack: "Dosis", helvetica, arial, sans-serif;

$colours: map-merge($colours, (
    "blue": #4698d1,
    "cyan": #3eaed3,
    "green": #7ec280,
    "yellow": #ffb723,
    "pink": #dca995,
    "red": #d48587,
    "purple": #9885b2,

    "accent": #9885b2,
));

var(--col-background): #0d2332;
var(--col-color): #eee;
var(--col-back-lift): rgba(var(--col-white), 0.125);
var(--col-back-lift): rgba(var(--col-white), 0.25);

@if variable-exists(types) {
    $types: map-merge(
        $types,
        (
            primary: (
                bg: rgba(9, 24, 35, 0.9),
                fg: #fff,
                fg2: #ddd,
            ),
            success: (
                bg: var(--col-green),
                fg: var(--col-black),
            ),
            danger: (
                bg: var(--col-red),
                fg: var(--col-black),
            ),
            info: (
                bg: var(--col-cyan),
                fg: var(--col-black),
            ),
            warning: (
                bg: var(--col-yellow),
                fg: var(--col-black),
            ),
            dark: (
                bg: var(--col-black),
                fg: var(--col-white),
                fg2: var(--col-darkGrey),
            ),
            light: (
                bg: var(--col-background),
                fg: var(--col-white),
                fg2: var(--col-grey),
            ),
            ractfSidebar: (
                bg: #1E1C34,
                fg: #fff,
            ),
        )
    );
}

body {
    line-height: 1.5;
}
