@import "../../Colours.scss";

.btn {
    font-size: px(14);
    border-radius: px(4);
    padding: px(11) px(21);
    font-weight: 700;
    line-height: px(16);

    border: none;
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 200ms, color 200ms;
    user-select: none;
    outline: none;

    &.large {
        padding: px(14) px(27);
        font-size: px(16);
    }
    &.tiny {
        padding: px(6) px(12);
    }
    &.pill {
        border-radius: 10rem;
    }

    @include mapTypes(true);
    &.lesser {
        border: 1px solid;
        padding: calc(#{px(11)} - 1px) px(21);

        &.large {
            padding: calc(#{px(14)} - 1px) px(27);
        }
        &.tiny {
            padding: calc(#{px(6)} - 1px) px(12);
        }
    }

    &.disabled {
        opacity: 0.65;
        cursor: not-allowed;
    }

    &:hover {
        text-decoration: none !important;
    }
}
