$input_color: rgba($color, .2);
$input_focus: rgba($color, .4);

$disabled_color: rgba($color, .15);
$disabled_text: rgba($color, .6);

//$input_background: rgba(map-get($colours, "black"), .2);
$input_background: transparent;
$foreground: #495057;

$error_color: map-get($colours, "red");
$error_focus: focus(map-get($colours, "red"));

$padding: 0.5rem 1.1rem;
$font_size: 1.05rem;
$line_height: 1.5;
$radius: .25rem;
$min_height: 2.56rem;