@import "../../Colours.scss";

$input_color: rgba($color, .2);
$input_focus: rgba($color, .4);

$disabled_color: transparent;
$disabled_text: rgba($color, .6);

//$input_background: rgba(map-get($colours, "black"), .2);
$input_background: transparent;
$foreground: #495057;

$error_color: map-get($colours, "red");
$error_focus: focus(map-get($colours, "red"));

$padding: px(9.5) px(14);
$font_size: px(14);
$line_height: px(17);
$radius: px(4);
$min_height: px(36);