@import "../../Colours.scss";
@import "./Input.vars.scss";

.inputErrorWrap {
    flex-grow: 1;
}

.inputError {
    color: $error_color;
    font-size: .8rem;
    margin-left: 8px;
    margin-top: .125rem;
}
