@import "@ractf/ui-kit/Colours.scss";

$radio_color: $back_lift;
$radio_text: $color;
$radio_select: map-get($colours, "accent");

.radioWrap {
    display: flex;
    flex-wrap: wrap;

    & input[type="radio"] {
        display: none;
    }

    & .radioLabel {
        display: flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        color: $radio_text;

        & > .radioButton {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid $radio_color;
            margin-right: 8px;
            position: relative;
            flex-shrink: 0;
        }

        margin-right: 1.5rem;
    }

    & div.checked {
        & > .radioButton::after {
            content: "";
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $radio_select;
        }
        color: $radio_select;
    }
}
