@import "@ractf/ui-kit/Colours.scss";


.select {
    user-select: none;
    text-align: left;
    font-size: map-get($input, "font_size");
    line-height: map-get($input, "line_height");
    flex-grow: 1;

    &.mini {
        display: inline-block;

        .head, .items div {
            $color: map-get($types, "primary");
            @if (map-get($color, "fg2")) {
                @include mapLesser(map-get($color, "bg"), map-get($color, "fg2"));
            } @else {
                @include mapLesser(map-get($color, "bg"), map-get($color, "bg"));
            }
            &:hover,
            &:focus,
            &.sOpen {
                @include mapLesserHover(map-get($color, "bg"), map-get($color, "fg"));
            }
            &:active {
                @include mapLesserFocus(map-get($color, "bg"), map-get($color, "fg"));
            }

            font-size: px(14);
            line-height: px(16);
            padding: calc(#{px(6)} - 1) px(12);
            min-width: unset;
        }
    }
    &.pill {
        .head {
            border-radius: px(14);
            &.sOpen {
                border-radius: px(14) px(14) 0 0;
            }
        }
        .items div:last-child {
            border-radius: 0 0 px(14) px(14);
        }
    }

    .blanker {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    select {
        display: none;
    }

    .head {
        border-radius: map-get($input, "radius");
        position: relative;
        &.sOpen {
            border-radius: map-get($input, "radius") map-get($input, "radius") 0 0;
            background-color: $back_lift;
        }

        &:after {
            position: absolute;
            content: "";
            top: calc(50% - 3px);
            right: 12px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
        }
    }

    .items div,
    .head {
        min-width: 100px;
        padding: map-get($input, "padding");

        cursor: pointer;

        border: map-get($input, "border");

        background: map-get($input, "background");
        color: map-get($input, "color");
        
        &:hover {
            background-color: $back_lift;
        }
    }
    .items div {
        border-top: none;

        &:last-child {
            border-radius: 0 0 map-get($input, "radius") map-get($input, "radius");
        }
    }

    .search {
        border-radius: 0;
        border: map-get($input, "border");
        background-color: $background;
    }

    .itemsWrap {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }
    
    .items {
        overflow-y: auto;
        background-color: $background;
        overflow-y: auto;
        box-shadow: 0 2px 7px -3px #000;
    }
}
